
* {
	box-sizing: border-box;
}

.brand {
	color: #43612d;
	font-size: 8vw;
	font-family: cursive;
	background-image: url(../imagenes/Logon.gif);
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	justify-content: flex-end;


}

h1 {
	color: #2a5059;
	font-size: 3em;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
	position: relative;
	left: 10%;
    margin-bottom: 0;
    list-style: none;
	
}


nav ul li a {
	color: white;
	padding-right: 1em;
	padding-left: 1em;
	font-size: 1.9em;
	
}


h2 {
	text-align: center;
	color: #43612d;
	font-family: 'bad-script';
	font-size: 4em;
}

h3 {
	color: #2a5059;

}

.detalle {
	color: red;
	font-size: 1.9em;
}

h4 {
	color: #2a5059;
	font-size: 1em;
	text-align: center;
}

p {
	color: #2a5059;
	text-align: justify;
}

.copete {
	font-size: 1.5em;
}

.cabeza {
	font-size: 1.1em;
}

.pie {
	font-size: 1.6em;
}

.final {
	font-size: 2.1em;
	text-align: center;
}

a:hover {
	color: #f2d076;

}

.form-flex {
	display: flex;
}

form input {
	display: inline-block;
}

form input {
	width: 100%;
}

select {
	width: 190px;
}

.btn-formu {
	background: #f2d076;
	font-size: 1.1em;
	max-width: 50%;
	display:flex;
	justify-content: center;
	align-items: center;
	color: #43612d;
	border-radius: 10%;
}

.bg-fondo {
	background-color: #e4eb8b;
}

.galeria {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	margin-top: 1em;
	justify-content: space-between;
}

.envio {
	list-style-type: none;
	font-size: 1.2em;
	margin-left: -40px;

}


footer {
	background-color: #43612d;
	list-style: none;
}

footer ul {
	display: block;
	color: white;
	margin-bottom: 1em;
	list-style-type: none;
}

footer ul li {
	color: white;
	margin-left: 2em;
}


.gracias {
	text-align: center;

}

.muestrario {
	display: grid;
	grid-template-columns:550px 550px;
	grid-column-gap: 8em;
	margin: 3em;
}

@media (max-width: 768px) {
	.muestrario {
		display: grid;
		grid-template-columns: 100vw;
		justify-content: center;
}
}

.muestrario-admin {
	display: grid;
	grid-template-columns:550px 550px;
	grid-column-gap: 8em;
	margin: 3em;
}

@media (max-width: 768px) {
	.muestrario-admin {
		display: grid;
		grid-template-columns: 100vw;
		justify-content: center;
}
}

.producto {
	display: flex;

}

button {
	background-color: #f2d076;
	color: #43612d;
	font-size: 1.5em;
	border-radius: 10%;
	
}

button hover {
	background-color: red;
	
}

button:hover {
	background-color: #bc9429;
	color: white;
}

.boton-pie{
	
	color: #43612d;
	font-size: 1em;
	border-radius: 10%;
	display: flex;
	justify-content: center;
	
	
}